<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Total Time</title>
</head>
<body>
    <h1>Total Time</h1>
    <p><%= moviesTotalTimes %> minutes </p>
</body>
</html>