<!DOCTYPE html>
<html>
  <head>
    <title>Home Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Home Page</h1>
    <ul class="nav-bar">
      <li><a href="/">Inicio</a></li>
      <li><a href="/users">Usuarios</a></li>
    </ul><br>
    <p class="parrafo-especial">Welcome to the main page</p><br>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente debitis amet non perferendis minima iusto mollitia vitae aspernatur ducimus culpa vero quis, eaque qui ab dicta tempore recusandae, quibusdam deserunt?</p>
    <br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus pariatur provident deserunt sint impedit qui nobis quod suscipit voluptatibus, cupiditate iste voluptas repellendus illum, maiores dolorem blanditiis quia, aliquid itaque.</p>
    <br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa consequatur nulla recusandae <strong>texto en negrita probando...</strong> doloremque itaque ea, quidem delectus iure eum sit praesentium, consectetur voluptate voluptates dolore, optio impedit! Nesciunt placeat, excepturi soluta totam voluptate ea iste nihil id odio incidunt doloribus, nostrum temporibus? Blanditiis officiis, modi, dolores enim repudiandae aliquam consequatur facere doloribus nobis laboriosam illo quidem molestias optio architecto quod iure minus voluptatum quae error, est temporibus. Repudiandae quibusdam sequi, error qui animi quae, omnis perferendis reprehenderit accusantium corrupti maiores repellat pariatur, cumque sunt perspiciatis. Accusantium tempore natus, reprehenderit aliquid consequatur eaque modi ullam, neque repudiandae labore explicabo ad nam.</p>

    <script src="/js/JS-front.js"></script>
  </body>
</html>
