* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

option {
  color: white;
}

.title {
  color: black
}

.azul {
  background-color: blue;
}

.rojo {
  background-color: red;
}

.verde {
  background-color: green;
}