<!DOCTYPE html>
<html>
  <head>
    <title>Practica AJAX & Storage</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/js/random.js"></script>
    
  </head>
  <body>
    <h1 id="random">Practica AJAX & Storage</h1>

    <p id="random-gif"></p>

    <button id="random-changeGIF">Cambiar gif</button>
    
  </body>
</html>
