<!DOCTYPE html>
<html>
  <head>
    <title>Practica AJAX & Storage</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/js/trending.js"></script>
    
  </head>
  <body>

    <div id="gif-container">
        <p id="trending-gif"></p>
    </div>
        
    
  </body>
</html>
