<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Movie</title>
</head>

<body>
    <div>
        <h1>Add Movie</h1>
        <form action="/movies/add" method="POST">
            <div>
                <label for="title">Title:</label>
                <input type="text" name="title">
            </div><br>
            <div>
                <label for="rating">Rating:</label>
                <input type="text" name="rating">
            </div><br>
            <div>
                <label for="awards">Awards:</label>
                <input type="text" name="awards">
            </div><br>
            <div>
                <label for="release_date">Release date:</label>
                <input type="date" name="release_date">
            </div><br>
            <div>
                <label for="length">Length:</label>
                <input type="text" name="length">
            </div><br>
            <div>
                <button type="submit">Add Movie</button>
            </div><br>
        </form>
    </div>
    <br>

    <%- include('partials/searchForm.ejs') %>
</body>

</html>