<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
</head>
<body>
    <h1>Movies: search results</h1>
    <ul>
        <% movies.forEach(movie => { %>
            <li>    
                <a href="/movies/detail/<%= movie.id %> ">
                    <%= movie.title %> 
                </a>
            </li>
        <% }) %>
    </ul>

    <%- include('partials/searchForm.ejs') %>
    <br>
    <a href="/movies"><button type="">Back to Movies List</button></a>
</body>
</html>