<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reloj con JavaScript</title>
    <link rel="stylesheet" href="css/clock.css">
</head>

<body>
    <header>
        <img src="/images/dh.png" alt="digital house">
        <h1>Reloj</h1>
    </header>
    <main>
        <div class="contenedor reloj" id="reloj">
            <div id="hours" class="reloj-parte hours">00</div>
            <div id="dots" class="reloj-parte dots"> : </div>
            <div id="minutes" class="reloj-parte minutes">00</div>
            <div id="dots" class="reloj-parte dots"> : </div>
            <div id="seconds" class="reloj-parte seconds">00</div>
        </div>
        <div class="contenedor botones">
            <button type="button" id="start" class="btn backgroundColor-green start">Start &#9658;</button>
            <button type="button" id="pause" class="btn backgroundColor-yellow pause" disabled>Pause &#10074; &#10074;</button>
            <button type="button" id="reset" class="btn backgroundColor-red reset" disabled>Reset &#x21bb;</button>
        </div>
    </main>

    <script type="text/javascript" src="/js/clock.js"></script>
</body>
</html>