<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>More</title>
</head>
<body style="background-color: <%- color %>">
    <h1>Otra página</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At dolore quam inventore quidem, debitis nemo quas alias corrupti mollitia aliquid amet repellat et odio vero a nostrum labore laborum natus!</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates animi ipsum commodi omnis inventore? Et nulla vitae ea cupiditate illum quidem quo illo placeat itaque nisi quasi repellat, nostrum laboriosam. Nobis, dicta vitae nihil excepturi consequatur porro? At, architecto error quos placeat inventore ad vel pariatur adipisci itaque repudiandae repellendus, recusandae corrupti tenetur assumenda ipsa dolorum, eligendi qui minima quaerat cumque ducimus earum! Eos nulla illum, minima exercitationem nihil officiis, saepe repellat iure quam error quidem eius animi quasi deleniti tenetur corporis repudiandae ullam, nam pariatur molestias eveniet sint aliquam? Fuga provident nostrum velit aliquam, laborum recusandae sapiente dicta sunt sed laboriosam, obcaecati esse sequi tempore atque facilis autem. Neque optio omnis illum inventore, accusamus quam ab doloribus! Saepe enim esse eius repellat odit quas atque doloribus, nisi quaerat quae! Iusto, ut? Incidunt quasi laborum, id illo omnis odio, aut maiores repudiandae consequuntur in obcaecati voluptas dicta. Eaque quam voluptas eius provident natus ipsum quibusdam error assumenda odit ipsam numquam nulla illo ratione possimus enim nesciunt non, necessitatibus ex maiores temporibus alias veniam? Facilis quisquam officia, sint at praesentium repellendus nulla nostrum explicabo enim nam! Possimus animi facere beatae laborum molestias ab nemo recusandae, quia ut officia aperiam modi porro?</p>
</body>
</html>